* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
    linear-gradient(to right, #e7d5bd, #B8D3D9, transparent),
    linear-gradient(to left, #ebc6da, #F2D5E5, transparent),
    #c5e5ec;
}

.pai {
    transform: translateY(-60px);
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div p {
    color: #ffffff;
}

.caixa0 {
    width: 100%;
    text-align: center;
    border-radius: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(2.5rem, 7vw, 6rem);
    background-image: linear-gradient(to left, #9FC7CF, #CBBCE8);
    box-shadow: 5px 5px 5px #00000079;
    padding-top: 10px;
    padding-bottom: 10px;
}

.caixa1 {
    text-align: center;
    border-radius: 0px;
    padding-top: 24px;

}

.botao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    color: white;
    background-color: #eca5b7;
    padding: 12px;
    border-radius: 24px;
    margin: 10px;
    border-color: rgba(255, 255, 255, 0.596);
}

.caixa2 {
    text-align: center;
    border-radius: 0px;
    padding-top: 24px;
    width: 100%;
}

.botao2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    color: white;
    background-color: #65bdc95e;
    padding: 12px;
    border-radius: 24px;
    margin: 10px;
    border-color: rgba(255, 255, 255, 0.596);
    padding-right: 100px;
    padding-left: 100px;
}